{% extends 'volunteer/Home2.html' %}
{% block body %}
<form action="/volunteer_edit_profile_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table  class="table-bordered table" width="200" border="1">
    <tr>
      <td>Name</td>
      <td><label for="textfield"></label>
      <input class="form-control" value=" {{ data['name'] }}" type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label for="textfield2"></label>
      <input class="form-control" value=" {{ data['email'] }}" type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label for="textfield3"></label>
      <input class="form-control" value=" {{ data['phone'] }}"  type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="textfield4"></label>
      <input class="form-control" value=" {{ data['place'] }}"  type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label for="textfield5"></label>
      <input class="form-control" value=" {{ data['post'] }}"  type="text" name="textfield5" id="textfield5" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label for="textfield6"></label>
      <input class="form-control" value=" {{ data['pin'] }}"  type="text" name="textfield6" id="textfield6" /></td>
    </tr>
    <tr>
      <td>District</td>
      <td><label for="textfield7"></label>
      <input class="form-control" value=" {{ data['district'] }}"  type="text" name="textfield7" id="textfield7" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input class="btn btn-outline-primary" type="submit" name="button" id="button" value="Submit" />
      </div></td>
    </tr>
  </table>
</form>{% endblock %}
</body>
</html>
