<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td>Relief centre</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Facilities</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Maximum no. of Occupancy</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Volunteers count</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>