{% extends 'guest/Home2.html' %}
{% block body %}
<form name="form1" method="post" action="/make_donation_post">
  <table class="table-bordered table" width="200" border="1">
    <tr>
      <td>Account no.</td>
      <td><label for="textfield"></label>
      <input class="form-control" required type="text" name="textfield" id="textfield"></td>
    </tr>
    <tr>
      <td>IFSC code</td>
      <td><label for="textfield2"></label>
      <input required class="form-control" type="text" name="textfield2" id="textfield2"></td>
    </tr>
    <tr>
      <td>Amount</td>
      <td><label for="textfield3"></label>
      <input class="form-control " required type="text" name="textfield3" id="textfield3"></td>
    </tr>
    <tr>
      <td height="43">Account pin</td>
      <td><label for="textfield4"></label>
      <input class="form-control"  required type="password" name="textfield4" id="textfield4"></td>
    </tr>
    <tr align="center">
      <td colspan="2"><input class="btn btn-outline-primary " type="submit" onclick="return confirm(' Confirm to Make payment')" name="button" id="button" value="PAY"></td>
    </tr>
  </table>
</form>
{% endblock %}
</body>
</html>