<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
{#    <tr><td><a href="/guest_view_profile">View Profiler</a></td> </tr>#}
{#    <tr><td><a href="/guest_view_rcentre">view reliefe centre</a></td> </tr>#}
{#    <tr><td><a href="/guest_view_item_request">View supply requset</a></td> </tr>#}
{#    <tr><td><a href="/guest_change_password">Change password</a></td> </tr>#}
    <tr><td><a href="/guest_view_notification">View Notification</a></td> </tr>
{#    <tr><td><a href="/send_volunteer_request">Send request for volunteering</a></td> </tr>#}
    <tr><td><a href="/make_donation">Make Donations</a></td> </tr>
</table>
</body>
</html>
