{% extends 'guest/Home2.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/guest_view_item_request_search#asd">
  <table class="table-bordered table" width="200" border="1">
    <tr>
      <td>sl no</td>
      <td>Centre details</td>
      <td>Item requested</td>
      <td>Type</td>
      <td>Details</td>
      <td>Date</td>
      <td>status</td>
    </tr>
      {%  for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['name'] }},<br>{{ i['place'] }},{{ i['post'] }},<br>{{ i['district'] }}</td>
      <td>&nbsp;{{ i['item'] }}</td>
      <td>&nbsp;{{ i['type'] }}</td>
      <td>&nbsp;{{ i['details'] }}</td>
      <td>&nbsp;{{ i['date'] }},{{ i['req_id'] }}</td>
      <td>&nbsp;{% if i['status']=='closed' %}{{ i['status'] }}{% else %}<a href="guest_send_item/{{ i['req_id'] }}" onclick="return confirm('Confirm To Donate Item..?')" class="btn btn-outline-success">I have supplies</a>{% endif %} </td>
    </tr>
      {% endfor %}
  </table>
</form>
{%  endblock %}
</body>
</html>
