<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
{#    <td><a href="/manager_view_profile">View Profile</a></td>#}
  </tr> <tr>
    <td><a href="/manager_view_notification">View Notification</a></td>
  </tr> <tr>
    <td><a href="/maanager_view_volunteer">View volunteers</a></td>
  </tr><tr>
    <td><a href="/view_approved_volunteer">View approved volunteers</a></td>
  </tr><tr>
    <td><a href="/view_rejected_volunteer">View rejected volunteers</a></td>
  </tr> <tr>
    <td><a href="/view_assigned_centre">View assigned centre</a></td>
  </tr>
{#    <tr><td><a href="/volunteer_task_assign">Assign work for volunteeer</a> </td></tr>#}
    <tr><td><a href="/manager_view_assigned_task">View work for volunteeer</a></td> </tr>
</table>
</body>
</html>
