{% extends 'manager/Home2.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/manager_view_assigned_task_search#asd">
  <table class="table-bordered table" width="200" border="1">
    <tr>
      <td>from</td>
      <td><label for="textfield"></label>
      <input class="form-control" required type="date" name="textfield" id="textfield" /></td>
      <td>To</td>
      <td><label for="textfield2"></label>
      <input required class="form-control" type="date" name="textfield2" id="textfield2" /></td>
      <td><input class="btn btn-outline-primary" type="submit" name="button" id="button" value="Search" /></td>
    </tr>
  </table>
  <table class="table-bordered table" width="200" border="1">
    <tr>
      <td>sl no</td>
      <td>Volunteer details</td>
      <td>Task</td>
      <td>date</td>
      <td>Status</td>
      <td>&nbsp;</td>
    </tr>
      {%  for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>&nbsp;{{ i['task'] }}</td>
      <td>&nbsp;{{ i['date'] }}</td>
      <td>&nbsp;{{ i['status'] }}</td>
      <td><a class="btn btn-outline-danger" href="/delete_vol_task/{{ i['id'] }}" onclick="return confirm('Confirm to delete...!')">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}
</body>
</html>
