{% extends 'admin/Home2.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/edit_rcentre_post">
<input type="hidden" name="id" value="{{ data['id'] }}"/>
<input type="hidden" name="alct_id" value="{{ data2['alct_id'] }}"/>
  <table class="table-bordered table" width="200" border="1">
    <tr>
      <td>Name</td>
      <td><label for="textfield"></label>
      <input  class="form-control"  type="text"  value="{{ data['name'] }}" name="textfield" id="textfield" /></td>
    </tr>
  <tr>
      <td>Phone</td>
      <td><label for="textfield2"></label>
      <input  class="form-control"  type="number" {% if data['phone']=='' %} value="" {% else %}  value="{{ data['phone'] }}" {% endif %}name="phone" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="textfield2"></label>
      <input  class="form-control"  type="text"  value="{{ data['place'] }}" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label for="textfield3"></label>
      <input  class="form-control"  type="text" name="textfield3"  value="{{ data['post'] }}" id="textfield3" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label for="textfield4"></label>
      <input class="form-control"   type="text"  value="{{ data['pin'] }}" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>District</td>
      <td><label for="textfield5"></label>
      <input  class="form-control"  type="text"  value="{{ data['district'] }}" name="textfield5" id="textfield5" /></td>
    </tr>
    <tr>
      <td>Facilities details</td>
      <td><label for="textarea"></label>
      <textarea  class="form-control"  name="textarea"  value="{{ data['fecilities'] }}" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td>Maximum occupancy</td>
      <td><label for="textfield6"></label>
      <input class="form-control"   type="text"  value="{{ data['max_occupancy'] }}" name="textfield6" id="textfield6" /></td>
    </tr>
    <tr>
      <td> No. of Volunteers needed</td>
      <td><label for="textfield7"></label>
      <input class="form-control"   type="text" name="textfield7"  value="{{ data['no_of_volunteers'] }}" id="textfield7" /></td>
    </tr>
      <tr>
          <td>Manager</td>
          <td><select class="form-control"  name="manager" >
              {% for i in data1 %}
              <option value="{{ i['lid'] }}" {% if data2['manager_lid']==i['lid'] %} selected {% endif %}>{{ i['name'] }}</option>
              {% endfor %}
          </select> </td>
      </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input class="btn btn-outline-success" type="submit" name="button" id="button" value="Submit" />
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
</body>
</html>
