{% extends 'admin/Home2.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/add_notificaton_post">
  <table class="table-bordered table" width="200" border="1">
    <tr>
      <td>Notification</td>
      <td><label for="textarea"></label>
      <textarea  class="form-control" name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input class="btn btn-outline-success" type="submit" name="button" id="button" value="Submit" />
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
</body>
</html>
