<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/assign_manager_post">
  <table width="200" border="1">
    <tr>
      <td>Manager</td>
      <td><label for="select"></label>
        <select name="select" id="select">
            {% for i in data %}
            <option value="{{ i['lid'] }}">{{ i['name'] }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>Centre</td>
      <td><label for="select2"></label>
        <select name="select2" id="select2">
            {% for i in data1 %}
            <option value="{{ i['id'] }}">{{ i['name'] }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Submit" />
      </div></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
