<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
{#    <td><a href="/add_manager">Add manager</a></td></tr><tr>#}
{#    <td><a href="/add_notification">Add notification</a></td></tr><tr>#}
{#    <td><a href="/add_rcentre">Add reliefe centre</a></td></tr><tr>#}
{#    <td><a href="/admin_view_guest">view guest</a></td></tr><tr>#}
{#    <td><a href="/admin_view_request">view item request</a></td></tr><tr>#}
{#    <td><a href="/admin_view_notification">view notification</a></td></tr><tr>#}
{#    <td><a href="/admin_view_manager">View manager</a></td></tr><tr>#}
{#    <td><a href="/admin_view_rcentre">view reliefe centre</a></td></tr><tr>#}
{#    <td><a href="/admin_view_volunteers">View Volunteer</a></td></tr><tr>#}
    <td><a href="/admin_view_donations">View Donation</a></td>
  </tr>
</table>
</body>
</html>
