<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/login_post">
  <table width="200" border="1">
    <tr>
      <td>ussername</td>
      <td><label for="textfield"></label>
      <input type="text" name="uname" id="textfield" /></td>
    </tr>
    <tr>
      <td>password</td>
      <td><label for="textfield2"></label>
      <input type="text" name="password" id="textfield2" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <p>
          <input type="submit" name="button" id="button" value="login" />
        </p>
        <p><a href="/guest_register">Guest register</a></p>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
